<!DOCTYPE html>

<html>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
<head>

</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This website is created by Mrunal Joshi.It uses weather data from weathersky.com to show weather of the city entered in searchbox</p>
        <img class="landscape" src="/img/my.jpg">
    
    </div>
    {{>footer}}
</body>

</html>