<!DOCTYPE html>

<html>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
<head>

</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="landscape" src="/img/my.jpg">
    
    </div>
    {{>footer}}
</body>

</html>