<!DOCTYPE html>

<html>
    <title>Help</title>
    <link rel="stylesheet" href="/css/styles.css">
<head>

</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{message}}</p>
    
    </div>
    {{>footer}}
</body>

</html>